[project]
	description = Example(42) complete set of Puppet Modules
[access "refs/*"]
	owner = group user/Vladimir Glafirov (vglafirov)
[access "refs/for/refs/*"]
	read = group user/Vladimir Glafirov (vglafirov)
	push = group user/Vladimir Glafirov (vglafirov)
	label-Code-Review = -2..+2 group user/Vladimir Glafirov (vglafirov)
	label-Verified = -1..+1 group user/Vladimir Glafirov (vglafirov)
	rebase = group user/Vladimir Glafirov (vglafirov)
	removeReviewer = group user/Vladimir Glafirov (vglafirov)
	submit = group user/Vladimir Glafirov (vglafirov)
[access "refs/heads/*"]
	read = group user/Vladimir Glafirov (vglafirov)
	create = group user/Vladimir Glafirov (vglafirov)
	push = +force group user/Vladimir Glafirov (vglafirov)
	pushMerge = group user/Vladimir Glafirov (vglafirov)
[access "refs/tags/*"]
	push = +force group user/Vladimir Glafirov (vglafirov)
	pushTag = group user/Vladimir Glafirov (vglafirov)
	pushSignedTag = group user/Vladimir Glafirov (vglafirov)
